.container-fluid {
    margin-left: 0px;
    margin-right: 0px;
}
.custom-navbar {
    background-color: lighten($brand-primary,60%);
    padding:5px;
    border:none;
    border-bottom:2px solid $brand-primary;
    .navbar-nav {
        .navbar-form{
            margin-left: 0px;
            margin-right: 0px;
        }
        margin:0px;
        li a {
            font-weight: bold;
            padding-bottom: 8px;
            color: lighten($brand-primary,20%);
            transition-property: color;
            transition-duration: 0.5s ;
            &:hover {
                background:none;
                color: $brand-primary;
            }
        }
        li.active a {
            background:none;
            border-bottom: 1px solid $brand-primary;
            &:hover {
                background:none;
            }
        }
    }
}
.custom-navbar a>img {
    position: relative;
    top: -10px;
}
.custom-form-control,.custom-btn-primary {
    box-shadow: none;
    transition-property: background-color, border-color;
    transition-duration: 0.5s ;
    &:hover,
    &:focus,
    &:active {
        box-shadow: 0px 0px 3px 0px $brand-primary;
        border-color: $brand-primary;
    }
}
.custom-form-control {
    color: $brand-primary;
    border: 1px solid lighten($brand-primary,30%);
}
.custom-btn-primary {
    color : black;
    font-weight: bold;
    background-color: lighten($brand-primary,30%);
    border: 1px solid $brand-primary;
    &:hover,
    &:focus,
    &:active {
        background-color: $brand-primary;
        color: white;
    }
}